<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="css/uikit.min.css">
  <script src="js/uikit.min.js"></script>
  <title><%=path %></title>
</head>
<body>
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">        
      <a class="uk-navbar-item uk-logo" href="#">
        <img src="img/logo.svg" alt="">
      </a>
      <ul class="uk-navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="uk-active"><a href="blog">Blog</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="about">About</a></li>
      </ul>
    </div>
  </nav>
  <div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <% post.forEach( p => { %>
    <div>
      <div class="uk-card uk-card-default uk-card-body">
        <h1><%= p.title %> </h1>
        <h4><%= p.time %> </h4>
        <p><%= p.body %> </p>
      </div>
    </div>
      <%}); %> 
</div>
</body>
</html>