<!DOCTYPE html>
<html lang="en">
  <%- include('./templates/head.ejs') %> 
<body>
  <%- include('./templates/navbar.ejs') %>

  <div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <% posts.forEach( (p) => {%>
      <div>
        <div class="uk-card uk-card-default uk-card-body">
          <h1>
            <%= p.title %>
          </h1>
          <%= p.body %>
        </div>
      </div>
      <% }); %>
  </div>
</div>
</body>
</html>