<!DOCTYPE html>
<html lang="en">
  <%- include('./templates/head.ejs') %> 
<body>
  <%- include('./templates/navbar.ejs') %> 

  <div class="uk-container">
    <div class="uk-card uk-card-default uk-card-body">
      <form method="POST" action="blog"><!-- Controlaor-->
        <fieldset class="uk-fieldset">
          <legend class="uk-legend">Title Post</legend>
          <div class="uk-margin">
            <input class="uk-input" name="title" type="text" placeholder="Title">
          </div>
          <legend class="uk-legend">Body Post</legend>
          <div class="uk-margin">
            <textarea class="uk-textarea" name="body" rows="5" placeholder="Description post"></textarea>
          </div>
          <div class="uk-margin">
            <button type="submit" class="uk-button uk-button-primary">Send</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>


</body>
</html>