<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="css/uikit.min.css">
  <script src="js/uikit.min.js"></script>
  <title><%=path %></title>
</head>
<body>
<%- include('./templates/navbar.ejs') %> 
</body>
</html>